.headerContainer {
  margin: 45px 0 16px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}
.headerContainer h2{
  cursor: pointer;
}
.headerContainer div{
  display: flex;
  justify-content: space-between;
}
.headerContainer div > span{
  margin-left: 10px;
  background-color: #16c782;
  color: #fff;
  border-radius: 30%;
  padding: 5px;
}