.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 50px;
   margin-top: 30px;
}

.nav li {
  width: 70px;
  height: 33px;
  list-style: none;
  /* margin: 0px 34px; */
}
@media(min-width: 600px){
  .nav{
    margin-top: 70px;
  }
}