.headerContainer {
  margin: 45px 0 45px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}
.headerContainer h2 {
  cursor: pointer;
}
.headerContainer div {
  display: flex;
}
.headerContainer div > span {
  width: 50%;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #16c782;
  color: #fff;
  border-radius: 50%;
  font-size: 1.25rem;
  padding: .5rem;
}
