@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fruktur&family=Irish+Grover&family=Montserrat:wght@700&family=Patrick+Hand&family=Permanent+Marker&display=swap');

.homeContainer {
  margin: 0 25px;
  overflow: hidden;
}
.homeContainer .headerIcons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeContainer p {
  margin: 5px 0px;
  font-size: 16px;
  line-height: 20px;
}

.homeContainer h2 {
  width: 95%;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: 0.2px;
}

.homeProdDisplay {
  background: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  height: auto;
  min-width: 100%;
}

.homeProdDisplay ul {
  display: flex;
  overflow-x: scroll;
}

.homeProdDisplay ul > li {
  margin-top: 32px;
  list-style: none;
  padding: 0px 0px 0px 40px;
  color: #7f7f7f;
  font-size: 14px;
}

.homeProdDisplay .prodContainer {
  display: flex;
  overflow-x: scroll;
}

.homeProdDisplay .prodList {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin: 20px 10px 0px 30px;
  padding: 10px 0px 0px 20px;
  width: 20rem;
  background-color: #ffffff;
  border-radius: 10px;
}

.homeProdDisplay .prodList h2 {
  font-weight: 700;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}

.homeProdDisplay .shopNow {
  margin: 28px 0;
  width: 100px;
  height: 20px;
}
.homeProdDisplay .shopNow a {
  text-decoration: none;
  color: #16c782;
}
.homeProdDisplay .shopNow a > span > img {
  margin-bottom: -5px;
  margin-right: -5px;
}
.homeProdDisplay .featured {
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.homeProdDisplay .featured a {
  text-decoration: none;
  color: #7f7f7f;
}
.homeProdDisplay .featuredContainer {
  display: flex;
  overflow-x: scroll;
}


@media (min-width: 600px) {
  .homeProdDisplay .featured {
    justify-content: space-around;
  }

  .homeProdDisplay .featuredContainer{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .homeProdDisplay .featuredProducts {
    text-align: center;
  }

}
