.overview {
  width: 100%;
  height: 100%;
  margin-right: 0 20px;
}
.productImages::-webkit-scrollbar {
  width: 0px;
}
.productImages img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  margin: 0px 10px;
}
.reviewsContainer {
  padding-bottom: 33px;
}
.reviewsContainer p {
  margin-top: 30px;
}
.seeAll {
  color: #7f7f7f;
  text-align: center;
  font-size: 14px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 1.5rem;
  gap: 10px;
}
.nav li {
  width: 70px;
  height: 33px;
  list-style: none;
}
.nav a {
  margin: 30px 0;
  color: inherit;
  text-decoration: none;
}
.overviewImageContainer {
  text-align: center;
}
.overviewImg {
  width: 100px;
  height: 110px;
}
.otherProducts {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  padding: 28px 0 80px 24px;
}
.otherProductsHeader {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.otherProductsHeader .more {
  font-size: 14px;
  color: #7f7f7f;
}
.otherProductsImg {
  display: flex;
  overflow-x: scroll;
}
.otherProductsImg::-webkit-scrollbar {
  width: 0px;
}
.actionBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

@media (min-width: 600px) {
  .productDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  .nav a {
    font-size: 18px;
  }
   .overviewImg {
    width: 180px;
    height: 180px;
    text-align: center;
  } 
}
