.overview {
  width: 100%;
  margin: 0 20px;
  overflow-x: hidden;
}
.productImages {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  width: 100%;
  height: 391px;
  overflow-x: scroll;
  background: #f6f6f6;
}
.productImages::-webkit-scrollbar{
  width: 0px;
}
.productImages img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  margin: 0px 10px;
}
.reviewsContainer {
  padding-bottom: 33px;
}
.reviewsContainer p {
  margin-top: 30px;
}
.seeAll {
  color: #7f7f7f;
  text-align: center;
  font-size: 14px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 50px;
   margin-top: 30px;
}

.nav li {
  width: 70px;
  height: 33px;
  list-style: none;
  /* margin: 0px 34px; */
}

.otherProducts {
  background-color: #f6f6f6;
  width: 100%;
  height: 319px;
  margin: 0px;
  position: absolute;
  left: 0;
  padding: 28px 0 38px 24px;
}
.otherProductsHeader {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.otherProductsHeader .more {
  font-size: 14px;
  color: #7f7f7f;
}
.otherProductsImg {
  display: flex;
  overflow-x: scroll;
}
.otherProductsImg::-webkit-scrollbar{
  width: 0px;
}
.actionBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 105rem;
  right: 10px;
  padding-bottom: 30px;
}
@media (min-width: 600px) {
  .productsImgaes,
  .reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav{
    margin-top: 70px;
  }

  .actionBtn {
    top: 110rem;
    left: 30px;
  }
}
@media (min-width: 1000px) {
  .actionBtn {
    top: 85rem;
    left: 30px;
  }
}
@media (min-width: 1024px) {
  .actionBtn {
    top: 98rem;
  }
}
