.searchContainer {
  margin: 60px 24px;
  width: 3
  40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchInputSection .searchHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchResult .searchTitle {
  margin: 20px 0px;
  font-size: 16px;
  font-weight: 400px;
}
.searchResult div {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}
.searchResult .prodTitle {
  flex: none;
  flex-grow: 1;
  margin: 0px 10px;
  font-size: 14px;
}
.popularTitle {
  font-size: 16px;
  /* margin-bottom: 20px; */
  margin: 20px 0px;
}

.popularProducts .popularProdContainer {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 15px;
  margin: 25px 0px;
}
.popularProducts .prodImageContainer {
  background-color: #f6f6f6;
  width: 75px;
  height: 75px;
  margin: 0px 15px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.popularProducts .prodImageContainer img {
  width: 55px;
  height: 55px;
  /* align-self: stretch; */
}
.popularProducts .prodItem {
  font-size: 16px;
  margin: 5px 0px;
}
.popularProducts .prodPrice {
  font-size: 14px;
  margin: 5px 0px;
}

@media (min-width: 600px) {
  /* .popularProducts { */
    /* display: flex;
    flex-wrap: wrap; */
    /* text-align: center; */
  /* } */
  /* .popularTitle { */
    /* display: flex;
   justify-content: center;
   align-items: center; */
    /* text-align: center; */
  /* } */
}
