.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.formContainer input {
  padding: 20px 100px;
  margin-bottom: 20px;
  border: 1px solid #bababa;
  background: #ffffff;
  border-radius: 10px;
}

.formContainer input:focus {
  outline: 2px solid #16c782;
}
.formContainer input::placeholder {
  font-size: 18px;
  line-height: 20px;
  color: #bababa;
  letter-spacing: 0.2px;
}
.formContainer .emailInput {
  background-image: url(../images/mailicons.svg);
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 10px 1rem;
}
.formContainer .passwordInput {
  background-image: url(../images/lockicons.svg);
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 10px 1rem;
}

.formContainer .forgotPwd {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
}
.formContainer .formActions {
  margin-top: 32px;
}

.formContainer button {
  background: #0acf83;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 125px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.formContainer .formQuestion {
  margin-top: 24px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.formContainer a{
    color: #0acf83
}

@media (min-width: 600px) {
  .formContainer input {
    padding: 20px 250px;
  }
  .formContainer button {
    padding: 20px 209px;
  }
}
