@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fruktur&family=Irish+Grover&family=Montserrat:wght@700&family=Patrick+Hand&family=Permanent+Marker&display=swap');

.titleBadge {
  height: 98px;
  margin-left: 24px;
  margin-right: 50px;
}

.titleBadge p {
  width: 68px;
  height: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #0acf83;
}

.titleBadge h2 {
  width: 327px;
  height: 72px;
  top: 26px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}
