@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fruktur&family=Irish+Grover&family=Montserrat:wght@700&family=Patrick+Hand&family=Permanent+Marker&display=swap');

div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 98px;
  left: 24px;
  right: 24px;
  top: 117px;
}

p {
  width: 68px;
  height: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #0acf83;
  margin: 6px 0px;
}

h2 {
  width: 327px;
  height: 72px;
  top: 26px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  margin: 6px 0px;
}
