.reviewsContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  order: 1;
  align-self: stretch;
  height: auto;
}

.reviewsContainer span {
  margin: 0 8px 0 5px;
  font-size: 14px;
}
.popularProdContainer p {
  flex-grow: 3;
  margin-right: 80px;
  font-size: 12px;
}