.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
}
.container h3 {
  text-align: center;
}
.container input {
  padding: 15px 100px;
  border-radius: 10px;
  margin: 15px 0;
  border: 1px solid #bababa;
}
.container input:focus {
  outline: 2px solid #16c782;
}
.container input::placeholder {
  font-size: 18px;
  line-height: 20px;
  color: #bababa;
  letter-spacing: 0.2px;
}
